<a href="https://colab.research.google.com/github/CottoneEnrico/python/blob/main/Esercizi_insiemi_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# Insiemi python

insieme = {"Inter", "Milan", "Juventus"}
print(insieme)

{'Juventus', 'Milan', 'Inter'}

In [30]:
insieme2 = {"Ciao0", "Ciao1", "Ciao2"}
print(type(insieme2))

<class 'set'>

In [35]:
# Altro metodo per insiemi

insieme3 = set(("Luca", "Riccardo", "Antonio", "Luca"))
print(insieme3)

# Aggiungere un'elemento ad un'insieme
insieme3.add("Ciaone")
print(insieme3)

# Rimuovere un'elemento di un'insieme

insieme3.remove("Ciaone")
print(insieme3)

insieme3.pop()
print(insieme3)

insieme3.discard("Luca")
print(insieme3)

{'Riccardo', 'Antonio', 'Luca'}
{'Riccardo', 'Antonio', 'Ciaone', 'Luca'}
{'Riccardo', 'Antonio', 'Luca'}
{'Antonio', 'Luca'}
{'Antonio'}

In [36]:
# Unire due insiemi
print(insieme2.union(insieme3))

{'Antonio', 'Ciao1', 'Ciao0', 'Ciao2'}

In [32]:
provaListComprehension = {i for i in range(1,101)}
print(provaListComprehension)
print(type(provaListComprehension))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
<class 'set'>

In [33]:
for i in provaListComprehension:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [38]:
insieme = [1,4,5,6,7,10,1,4]

print(insieme)

[1, 4, 5, 6, 7, 10, 1, 4]

In [39]:
insieme = {"pizza", "pasta", "carne", "pesce"}
print(insieme)
insieme.add("hamburger")
print(insieme)

{'pesce', 'pizza', 'carne', 'pasta'}
{'carne', 'pizza', 'pasta', 'pesce', 'hamburger'}

In [40]:
insieme.clear()
print(insieme)

set()

In [42]:
import random

insieme = set()
for i in range(20):
  insieme.add(random.randint(20, 50))
print(insieme)

{32, 36, 41, 42, 45, 46, 47, 20, 21, 22, 24, 25, 27, 28, 29}

In [50]:
# Caricare in una lista 20 numeri casuali ed eliminare i duplicati

lista = list(set([random.randint(1,100) for i in range(20)]))
print(lista)

[9, 11, 14, 15, 17, 31, 46, 48, 49, 54, 57, 60, 61, 63, 72, 76, 82, 90, 95, 98]

In [ ]:
# Dizionari